body {
	font-size: 14px;
}
img {
	max-width: 100%;
}
p {
	margin: 0;
}
a {
	color: #999999;
}
a:hover {
	color: #333333;
	text-decoration: none;
}

.top-header {
	width: 100%;
	height: 50px;
	background-color: #ff0000;
	color: #ffffff;
}
.right-top-header {
	margin-left: auto;
}
.right-top-header p {
	margin: 0 10px 0 0;
}
.icon-sns {
	background-color: #ff8080;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	margin: 0 5px;
}
.icon-sns:hover,
.icon-sns:focus {
	text-decoration: none;
	color: #ffffff;
}
.btn-phone {
	border: solid thin #ffffff;
	color: #ffffff;
	border-radius: 50px;
	margin: 0 0 0 10px;
}
.btn-phone:hover,
.btn-phone:focus {
	color: #ffffff;
}
.btn-phone i {
	margin: 0 10px 0 0;
}
.navbar {
	padding: 0;
}
.navbar>.container, .navbar>.container-fluid {
	align-items: normal;
}
.navbar-brand {
	height: 120px;
	display: flex;
	align-items: center;
}
.navbar-nav {
	margin-left: auto;
	flex-direction: row;
}
.navbar-nav>li {
	display: flex;
}
.navbar-nav>li a {
	height: 120px;
	display: flex;
	align-items: center;
	padding: 15px 25px;
	color: #3d3d3d;
	font-size: 18px;
	position: relative;
	font-weight: 500;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 15px;
}
.navbar-light .navbar-nav li.active .nav-link {
	color: #ff0000;
}
.navbar-nav>li a:focus, .navbar-nav>li a:hover {
	background-color: transparent;
	color: #ff0000;
	text-decoration: none;
}
.navbar-light .navbar-nav li .nav-link:hover:before,
.navbar-light .navbar-nav li.active .nav-link:before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #ff0000;
	position: absolute;
	bottom: 0px;
	left: 0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	width: 100%;
}
.banner {
	overflow: hidden;
}
.banner .slick-slide {
	display: none;
}
.banner .slick-slide.slick-active {
	display: block;
}
.search-box {
	width: 100%;
	height: 65px;
	border-radius: 50px;
	box-shadow: 0 5px 20px 0px #b8b8b8;
	position: absolute;
	bottom: 40px;
	background-color: #ffffff;
	display: flex;
	overflow: hidden;
}
.search-box>div {
	width: 20%;
	display: flex;
	border-right: solid thin #ff0000;
	padding: 0;
}
.input-search input,
.select-search select {
	width: 100%;
	padding: 8px 15px;
	border: 0;
}
.input-search input:focus,
.select-search select:focus {
	outline: none;
}
.search-box .btn-search {
	width: 20%;
}
.fun-fact-thumbnail {
	width: 50%;
}
.fun-fact-thumbnail img {
	width: 100%;
}
.fun-fact {
	margin: 40px 0 0 0;
}
.retangle h4 {
	margin: 30px 0 15px;
	font-size: 16px;
	font-weight: bold;
}
.retangle p {
	min-height: 36px;
	color: #999999;
}
.product {
	width: 100%;
	margin: 120px 0 0 0;
	display: flex;
	flex-wrap: wrap;
}
.title {
	width: 100%;
	position: relative;
	font-size: 16px;
	text-align: center;
	z-index: 0;
	font-weight: bold;
	color: #ff0000;
}
.title:before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #ff0000;
	position: absolute;
	top: 13px;
	left: 0;
	z-index: -1;
}
.line-gray:before {
	background-color: #eeeeee;
}
.title span {
	background-color: #ffffff;
	padding: 0 25px;
}
.description {
	width: 100%;
	text-align: center;
	color: #999999;
	margin: 30px 0;
	position: relative;
}
.description:before {
	content: '';
	width: 4%;
	height: 3px;
	position: absolute;
	bottom: -25px;
	left: 48%;
	background-color: #ff0000;
}
.group-btn-cate .btn{
	border-radius: 5px;
	margin: 0 2px;
	position: relative;
}
.group-btn-cate .btn>ul,
.group-btn-cate .btn>ul li ul {
	list-style: none;
	display: none;
	padding: 0;
	position: absolute;
	width: 100%;
	background-color: #ffffff;
	z-index: 9;
	border: solid thin #cccccc;
	border-radius: 5px;
	box-shadow: 0 5px 5px 2px #eeeeee;
}
.group-btn-cate .btn>ul {
	left: 0;
	top: 80px;
}
.group-btn-cate .btn>ul li a:hover {
	background-color: #ff0000;
	color: #ffffff;
}
.group-btn-cate .btn ul li a{
	width: 100%;
	display: inline-block;
	text-align: left;
	padding: 5px 15px;
	border-bottom: solid thin #cccccc;
}
.group-btn-cate .btn>ul>li>a:last-child,
.group-btn-cate .btn>ul>li ul li:last-child>a {
	border: 0;
}
.group-btn-cate .btn:focus>ul {
	display: block;
}
.group-btn-cate .btn>ul li ul {
	left: 100%;
	top: 10px;
}
.group-btn-cate .btn>ul li:hover ul{
	display: block;
}
.product-thumbnail {
	width: 100%;
	margin: 0 0 10px 0;
}
.product-thumbnail img {
	width: 100%;
}
.shape-outside {
	shape-outside: inset(100px 100px 100px 100px 10px);
	/* clip-path: inset(0 0 10px 0); */
	/* background-color: red; */
	width: 40%;
	float: left;
	margin: 0 10px 0 0;
	border: solid 5px #eeeeee;
	border-radius: 50%;
}
.shape-outside img {
	width: 100%;
}
.slide-show {
	width: 100%;
}
.slide-show .slick-slide {
	margin: 0 15px;
}
.slick-slide img {
	width: 100%;
}
.slick-prev:before, .slick-next:before {
	color: gray;
}
.contact {
	margin: 50px 0 0 0;
	padding: 50px 0 0 0;
	border-top: solid thin #ff0000;
}
.nav-bottom {
	list-style: none;
	padding: 0;
}
.nav-bottom li a {
	padding: 10px 0;
	display: inline-block;
	width: 100%;
	border-bottom: solid thin #eeeeee;
	color: #333333;
}
.nav-bottom li:last-child a {
	border: 0;
}
.footer {
	height: 70px;
	background-color: #ff0000;
	display: flex;
	align-items: center;
	margin: 50px 0 0 0;
}
.footer>div {
	display: flex;
}
.footer p {
	color: #ffffff;
}
.footer ul {
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0 0 0 auto;
}
.footer ul li a {
	color: #bfb2b2;
	padding: 0 15px;
}
.child-dropdown-item {
	left: 157px!important;
}
.side-customer {
	width: 100%;
}
.side-customer .slick-slide {
	padding: 0 15px;
}
.h4 {
	/*font-weight: bold;*/
}
.text-align-justify {
	text-align: justify;
}
.color-red {
	color: #ff0000;
}
.btn-search {
	background-color: #ff0000;
	color: #ffffff;
	border-radius: 0;
	white-space: normal;
}
.btn-search:hover,
.btn-search:focus {
	color: #ffffff;
	background-color: #c30101;
}
.mr-50-0 {
	margin: 50px 0;
}
.mr-top-10 {
	margin-top:10px;
}
.mr-top-20 {
	margin-top:20px;
}
.mr-top-30 {
	margin-top:30px;
}
.mr-top-40 {
	margin-top:40px;
}
.mr-top-50 {
	margin-top:50px;
}
.mr-bottom-10 {
	margin-bottom:10px;
}
.mr-bottom-20 {
	margin-bottom:20px;
}
.mr-bottom-50 {
	margin-bottom:50px;
}
.pd-15-30 {
	padding: 15px 30px;
}
.position-relative {
	position: relative;
}
.bd-radius {
	border-radius: 50%;
}

@media (max-width: 991px) {
	.group-btn-cate {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.group-btn-cate .btn {
		margin: 0 0 10px 0;
	}
	.group-btn-cate .btn:focus ul {
		display: block;
	}
	.group-btn-cate .btn ul {
		top: 60px;
	}
	.group-btn-cate .btn ul li ul {
		position: relative;
		top: 0;
		left: 0;
		border: 0;
		padding: 0 0 0 15px;
	}
	.search {
		max-width: 100%;
		padding: 0;
		display: flex;
		justify-content: center;
	}
	.search-box {
		/*position: relative;*/
		width: 320px;
		background-color: rgba(255,255,255,0.8);
		flex-direction: column;
		bottom: 20px;
		height: auto;
		border-radius: 0;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		padding: 15px;
	}
	.search-box>div,
	.search-box .btn-search {
		width: 100%;
		border-right: 0;
		border-bottom: solid thin #ff0000;
		margin: 0 0 10px 0;
	}
	.footer {
		height: auto;
		padding: 10px 0;
	}
	.footer>div {
		flex-direction: column;
	}
	.footer ul {
		margin:0;
		flex-direction: column;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
	.slick-prev, .slick-next {
		display: none!important;
	}
}
@media (max-width: 670px){
	.header {
		height: 170px;
	}
	.nav-header {
		position: absolute;
		width: 100%;
		background-color: #ffffff;
		top: 50px;
		left: 0;
	}
	.nav-header>.container {
		padding: 0;
	}
	.navbar {
		padding: 0 15px;
	}
	.navbar-nav {
		flex-direction: column; 
	}
	.navbar-nav>li a {
		height: 50px;
	}
	.navbar-collapse.collapse {
		width: 100%;
		position: absolute;
		top: 119px;
		left: 0;
		background-color: #ffffff;
		z-index: 9;	
		padding: 0 15px;
	}
	.left-top-header {
		display: none;
	}
	.banner .slick-side {
		width: 1000px;
		margin: 0 -45%;
	}
}
@media (max-width: 530px) {
	.group-btn-cate {
		width: 100%;
		justify-content: center;
	}
}
@media (max-width: 430px) {
	.right-top-header p {
		display: none;
	}
}